#doctor1,
#doctor2,
#doctor3,
#doctor4 {
  .border-block {
    border: 3px solid rgb(202, 182, 70);
  }
  .margin {
    margin: 15px auto;
  }
  ul li{
    margin: 1rem 0;
  }
}

@media (max-width: 1024px) {
#doctor1,
#doctor2,
#doctor3,
#doctor4 {
  .d-flex{
    flex-direction: column;
  
  }
  .px-4{
    margin-top: 1rem;
  }
}
}