#post{
    ul li{
        padding: 5px 0;
    }
    font-size: 18px;
    .size-img{
        width: 450px;
        float:left;
        margin: 10px 20px 2px 0px;
    }
    .size-img-l{
      width: 450px;
      float:right;
      margin: 10px 0px 2px 20px;
  }
    .size-cont{
        width: 900px;
        padding:20px;
    }
}
@media (max-width: 800px) {
    #post{
      h1{
        font-size: 2rem;
        text-align: center;
      }
      .size-cont{
        width: 100%;
      }
      .size-img{
        width: 100%!important;
      }
    
    }
  }